.App {
  text-align: center;
  color: gainsboro;
  font-family: 'Handjet', cursive;
}

body {
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fondo {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.contenedor_cuadros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro {
  width: 100px;
  height: 100px;
  background-color: #0a0a0a;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.status {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
